body {
  background-color: #f2f2f2;
  /* background: url("forest2_BG.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
  /* padding-top: 30px; */
  /* margin-top: 50px; */
  overflow-x: hidden;
}


.navbar {
  margin:0;
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  /* border-radius: 0; */
  /* padding: 0; */
}


#nav1
{
    background-color:black; /*whichever you want*/
    opacity: .75;
    /* filter:(opacity=100); */
}

.jumbotron {
  background-image: url("img/forest_BG.jpg");
  background-size: cover;
  min-height: 770px;
  margin-bottom: 0;
}


.jumbotron h1 {
color: #B8CCC5;
font-size: 48px;
font-family: 'Shift', sans-serif;
font-weight: bold;
}

.jumbotron p {
  color: #B8CCC5;
}

.jumbotron a {
  color: #B8CCC5;
  text-decoration:none;
}
.vertical-center {
  min-height: 725px;
  display: flex;
  align-items: center;
}

.bcontent {
    margin-top: 10px;
}
