  body {
    background-color: #f2f2f2;
    /* background: url("forest2_BG.jpg") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }


  #nav1
  {
      background-color:black; /*whichever you want*/
      opacity: 0.5;
      filter:(opacity=50);
  }

  .jumbotron {
    background-image: url("img/forest_BG.jpg");
    background-size: cover;
    min-height: 770px;
    margin-bottom: 0;
  }
  .jumbotron h1 {
  color: #B8CCC5;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  }

  .jumbotron p {
    color: #B8CCC5;
  }

  .jumbotron a {
    color: #B8CCC5;
    text-decoration:none;
  }
  .vertical-center {
    min-height: 770px;
    display: flex;
    align-items: center;
  }

  #about {
  background-color: white;
  /* border: 1px solid red; */
  }

  .circular--square {
  border-radius: 50%;
  border: 15px solid #B8CCC5;
  display: block;
  margin-left: auto;
  margin-right: auto;

  }
  .centered {
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 1280px;
    padding: 40px 180px;
  }



  /* .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

  #exp {
  background-color: #5E8678;
  /* border: 1px solid red; */
  }
  #exp p, h1, h2, h4, h5, h6{
    color:#B8CCC5;
  }




  #projects {
    background-color: #33583F;
    /* border: 1px solid red; */
  }

  #projects .column {
  float: left;
  /*set numer of cards here*/
  width: 33%;
  padding: 0 10px;
}
#projects .row {
  margin: 0 auto;
}

/* Clear floats after the columns */
#projects .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
#projects @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
#projects .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #B8CCC5;
}

/*background colours for the cardtabs*/
.nav-tabs{
  /* background-color:#161616; */
}
.tab-content{
    /* background-color:#303136; */
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-tabs > li.active > a {
  background-color: white !important;
  border: medium none;
  border-radius: 0;
}
#projects * {
  box-sizing: border-box;
}


#contact {
  background-color: #B8CCC5;
  /* border: 1px solid red; */
}
#vol {
  background-color: #1E2E28;
  /* border: 1px solid red; */
}

/*
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  } */
